# Exploring Ebay Car Sales Data

We have data of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website

We are going to first clean the data for further investigation

Second we are going to find mean price and mean kilometer for top brands and compare them 

## Openeing the data set

First we open the csv file including the data set by using panda

In [1]:
import pandas as pd
import numpy as np

autos = pd.read_csv('autos.csv', encoding ='Latin-1' )

Hear by just running the data frame in Jupyter we can access to some part of data

In [2]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

And here is the info function to display information about our data frame

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

As we can see the data set has 50000 rows and 20 columns. Values are int64 or object (mostly string) and some columns have null values. Also we can see the name of each columns in the info function result and the table above.

## Modifying columns name

For the first step of data cleaning we change the columns name from camelCase to snakecase(Python's preferred)
Here in the code blow we can display columns name

In [5]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

We change the names and store them in cleaned_columns and assign them back to autos columns

In [6]:
cleaned_columns = ['date_crawled', 'name', 'seller', 'type_offer', 'price', 'abtest',
       'type_vehicle', 'registration_year', 'gearbox', 'ps_power', 'model',
       'odometer', 'registration_month', 'type_fuel', 'brand',
       'unrepaired_damage', 'ad_created', 'pictures_nr', 'code_postal',
       'last_seen']

autos.columns = cleaned_columns

autos.columns

Index(['date_crawled', 'name', 'seller', 'type_offer', 'price', 'abtest',
       'type_vehicle', 'registration_year', 'gearbox', 'ps_power', 'model',
       'odometer', 'registration_month', 'type_fuel', 'brand',
       'unrepaired_damage', 'ad_created', 'pictures_nr', 'code_postal',
       'last_seen'],
      dtype='object')

## Exploring and cleaning the data

In this step we use describe function to explore the data.

As we can see the columns seller and type_offer have 2 unique values and freq is equal to 49999, it means there is only one value for this column and we can remove these columns from the data set

The price and the odometer columns are numerical columns but with some text in them and we will remove the strings from them and convert them to numerical value later.

In [7]:
autos.describe(include = 'all')

,date_crawled,name,seller,type_offer,price,abtest,type_vehicle,registration_year,gearbox,ps_power,model,odometer,registration_month,type_fuel,brand,unrepaired_damage,ad_created,pictures_nr,code_postal,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-21 16:37:21,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

pictures_nr column needs more investigation and the result of blow code shows us the whole column is actually is zero and we can remove this column too

In [8]:
# power_is_null = autos["registration_month"].isnull()

# print(power_is_null)

print(autos["pictures_nr"].value_counts())

print(autos["pictures_nr"].head())
autos["pictures_nr"].unique()

0    50000
Name: pictures_nr, dtype: int64
0    0
1    0
2    0
3    0
4    0
Name: pictures_nr, dtype: int64

array([0])

In this step we will do the modification which explained lately

We first start by removing three columns pictures_nr, seller and type_offer

In [9]:
autos =  autos.drop(['pictures_nr', 'seller', 'type_offer'], axis = 1)

In this step we will delete the strings in price and odometer columns and convert them to int64 type

In [10]:
autos['price'] = autos['price'].str.replace("$","")
autos['price'] = autos['price'].str.replace(",","").astype(int)

autos['odometer'] = autos['odometer'].str.replace("km","")
autos['odometer'] = autos['odometer'].str.replace(",","").astype(int)

Now we are going to change the name of price column to price_dollar and the odometer to odometer_km to better displaying the columns name. After that we showed some rows for these columns as you can see the changes.

In [11]:
autos.rename({'price':'price_dollar'}, axis = 1, inplace = True)
autos.rename({'odometer':'odometer_km'}, axis = 1, inplace = True)

print(autos['price_dollar'].head(5))
print(autos['odometer_km'].head(5))

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price_dollar, dtype: int64
0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer_km, dtype: int64

## Finding outliers in price_dollar and odometer_km

Here we about to investigate in price_dollar column to find outliers.

We first printed the number of unique values which is 2357. 
Then we printed the counted value in descending order to see highest and lowest prices with their counts. We can see there is car with almost 100 million dollar and 0 dollar. Also if we investigate the brand and the type of cars with price of more than 1 million dollar we can see the results in blow. I 'm sure we have not used fiat with more than 1 million dollar price. Therefore the cars with price of than 1 million is outliers.

Let's investigate lower price cars brand and type_vehicle and unrepaired_damage. We can see BMW Audi and etc. for less than 50 dollar witch I think they are outliers and we are going to remove all outliers.

In [11]:
print(autos['price_dollar'].unique().shape)

print(autos['price_dollar'].describe())

print(autos['price_dollar'].value_counts().sort_index(ascending = False))

# for more than 1 million price cars
miliondollars = autos.loc[autos["price_dollar"] > 1000000 , ["brand", "type_vehicle"]]

print(miliondollars)

# for les than 50 dollar cars
fifty_lower = autos.loc[autos["price_dollar"] < 50 , ["brand", "type_vehicle", "unrepaired_damage"]]

print(fifty_lower)

(2357,)
count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price_dollar, dtype: float64
99999999       1
27322222       1
12345678       3
11111111       2
10000000       1
3890000        1
1300000        1
1234566        1
999999         2
999990         1
350000         1
345000         1
299000         1
295000         1
265000         1
259000         1
250000         1
220000         1
198000         1
197000         1
194000         1
190000         1
180000         1
175000         1
169999         1
169000         1
163991         1
163500         1
155000         1
151990         1
            ...
66             1
65             5
60             9
59             1
55             2
50            49
49             4
47             1
45             4
40             6
35             1
30             7
29             1
25             5
20             4
18             1
17             3
15             2
14             1
13             2
12             3
11             2
10             7
9              1
8              1
5              2
3              1
2              3
1            156
0           1421
Name: price_dollar, Length: 2357, dtype: int64
                brand type_vehicle
2897             ford    limousine
7814   sonstige_autos        coupe
11137  sonstige_autos        coupe
22947             bmw        kombi
24384      volkswagen          NaN
27371            fiat          NaN
39377           volvo          NaN
39705   mercedes_benz    limousine
42221         citroen    limousine
47598            opel    limousine
47634  sonstige_autos        coupe
                brand type_vehicle unrepaired_damage
27               ford          NaN               NaN
55      mercedes_benz          NaN              nein
64                bmw          NaN               NaN
71               opel          NaN               NaN
80             nissan        coupe                ja
87                bmw          NaN               NaN
99            peugeot       cabrio              nein
118        volkswagen          bus                ja
146              ford   kleinwagen               NaN
167        volkswagen          NaN               NaN
180             mazda          NaN                ja
226           porsche       cabrio              nein
234              fiat          NaN               NaN
248        volkswagen        kombi                ja
259    sonstige_autos          NaN               NaN
301    sonstige_autos          NaN               NaN
323     mercedes_benz    limousine               NaN
327               bmw          NaN               NaN
344             honda          NaN               NaN
347             volvo          suv               NaN
366              ford          NaN               NaN
389        volkswagen    limousine               NaN
418              fiat          bus              nein
427              opel          bus              nein
430              ford          NaN               NaN
449        volkswagen    limousine              nein
487              opel        kombi                ja
502     mercedes_benz        kombi               NaN
519              seat       andere              nein
565              audi          NaN              nein
...               ...          ...               ...
49043            opel        kombi               NaN
49082      volkswagen    limousine              nein
49240             bmw        kombi               NaN
49254      volkswagen          NaN               NaN
49301      volkswagen          NaN               NaN
49342            audi          NaN                ja
49350      volkswagen   kleinwagen              nein
49377             bmw    limousine               NaN
49404      volkswagen    limousine              nein
49408            opel          NaN                ja
49479            audi    limousine              nein
49496             bmw    limousine               NaN
49504            opel          bus                ja
49507             bmw    limousine                ja
49525             bmw          NaN               NaN
49528             bmw          NaN               NaN
49538      volkswagen    limousine              nein
49551      volkswagen          NaN              nein
49614            audi          NaN              nein
49728            ford          NaN                ja
49739         renault          NaN              nein
49755   mercedes_benz    limousine               NaN
49793             bmw        kombi               NaN
49845      volkswagen          NaN              nein
49880             bmw          NaN                ja
49884            audi        kombi               NaN
49943            opel          NaN               NaN
49960            ford   kleinwagen               NaN
49974      volkswagen       cabrio              nein
49984  sonstige_autos          NaN               NaN

[1639 rows x 3 columns]

After finding outliners it is the time to remove them as in code blow. We only kept the rows with price higher than 50 and lower than 1 million. We assign new data set to auto_price_clean data frame. Also we displayed some information about our cleaned price_dollar column.

In [12]:
autos = autos[autos["price_dollar"].between(50, 1000000)]


print(autos['price_dollar'].describe())

count     48350.000000
mean       5977.136381
std       11983.401860
min          50.000000
25%        1250.000000
50%        3000.000000
75%        7499.000000
max      999999.000000
Name: price_dollar, dtype: float64

In this step we are going to find the outliners in odometer_km column. As it is clear from the result in blow the min value 5000 km and the max value is 15000 witch both of them is rational value for odometer and there is no outliner in this column

In [13]:
print(autos['odometer_km'].unique().shape)

print(autos['odometer_km'].describe())

print(autos['odometer_km'].value_counts().sort_index(ascending = False))

(13,)
count     48350.000000
mean     125876.732161
std       39617.575951
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64
150000    31290
125000     5046
100000     2105
90000      1733
80000      1414
70000      1215
60000      1153
50000      1011
40000       815
30000       778
20000       759
10000       249
5000        782
Name: odometer_km, dtype: int64

## Exploring and correcting date columns

In this step we are going to investigate in the columns that store dates witch include 
`date_crawled`
`last_seen`
`ad_created`
`registration_month`
`registration_year`

The first three of them are in string and the last two ones are numerical. For the strings one we can print some of them to see the format for each column as in code blow.

In [14]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

For all of them first 10 characters are for only the date. We can use this to extract only the dates and generate distribution for the dates in these three columns as in code blow

In [15]:
print(autos['date_crawled'].str[:10].value_counts(normalize=True, dropna = False).sort_index())

2016-03-05    0.025357
2016-03-06    0.014064
2016-03-07    0.036029
2016-03-08    0.033257
2016-03-09    0.033051
2016-03-10    0.032223
2016-03-11    0.032554
2016-03-12    0.036980
2016-03-13    0.015657
2016-03-14    0.036670
2016-03-15    0.034292
2016-03-16    0.029493
2016-03-17    0.031603
2016-03-18    0.012906
2016-03-19    0.034747
2016-03-20    0.037787
2016-03-21    0.037311
2016-03-22    0.032947
2016-03-23    0.032265
2016-03-24    0.029431
2016-03-25    0.031499
2016-03-26    0.032265
2016-03-27    0.031086
2016-03-28    0.034891
2016-03-29    0.034126
2016-03-30    0.033713
2016-03-31    0.031830
2016-04-01    0.033733
2016-04-02    0.035533
2016-04-03    0.038573
2016-04-04    0.036525
2016-04-05    0.013051
2016-04-06    0.003164
2016-04-07    0.001386
Name: date_crawled, dtype: float64

the distribution for date _crawled is somehowe uniform during almost one month

In [16]:
print(autos['ad_created'].str[:10].value_counts(normalize=True, dropna = False).sort_index())

2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
2015-12-30    0.000021
2016-01-03    0.000021
2016-01-07    0.000021
2016-01-10    0.000041
2016-01-13    0.000021
2016-01-14    0.000021
2016-01-16    0.000021
2016-01-22    0.000021
2016-01-27    0.000062
2016-01-29    0.000021
2016-02-01    0.000021
2016-02-02    0.000041
2016-02-05    0.000041
2016-02-07    0.000021
2016-02-08    0.000021
2016-02-09    0.000021
2016-02-11    0.000021
2016-02-12    0.000041
2016-02-14    0.000041
2016-02-16    0.000021
2016-02-17    0.000021
2016-02-18    0.000041
2016-02-19    0.000062
2016-02-20    0.000041
2016-02-21    0.000062
                ...
2016-03-09    0.033133
2016-03-10    0.031934
2016-03-11    0.032885
2016-03-12    0.036794
2016-03-13    0.017022
2016-03-14    0.035305
2016-03-15    0.034023
2016-03-16    0.029990
2016-03-17    0.031272
2016-03-18    0.013588
2016-03-19    0.033630
2016-03-20    0.037849
2016-03-21    0.037539
2016-03-22    0.032761
2016-03-23    0.032099
2016-03-24    0.029369
2016-03-25    0.031624
2016-03-26    0.032327
2016-03-27    0.031003
2016-03-28    0.034995
2016-03-29    0.034085
2016-03-30    0.033526
2016-03-31    0.031872
2016-04-01    0.033713
2016-04-02    0.035222
2016-04-03    0.038821
2016-04-04    0.036898
2016-04-05    0.011768
2016-04-06    0.003247
2016-04-07    0.001241
Name: ad_created, Length: 76, dtype: float64

There is a lot of variety for the date that the is created

In [17]:
print(autos['last_seen'].str[:10].value_counts(normalize=True, dropna = False).sort_index())

2016-03-05    0.001075
2016-03-06    0.004323
2016-03-07    0.005419
2016-03-08    0.007342
2016-03-09    0.009638
2016-03-10    0.010610
2016-03-11    0.012389
2016-03-12    0.023744
2016-03-13    0.008873
2016-03-14    0.012637
2016-03-15    0.015884
2016-03-16    0.016463
2016-03-17    0.028087
2016-03-18    0.007322
2016-03-19    0.015801
2016-03-20    0.020620
2016-03-21    0.020600
2016-03-22    0.021406
2016-03-23    0.018594
2016-03-24    0.019772
2016-03-25    0.019173
2016-03-26    0.016774
2016-03-27    0.015574
2016-03-28    0.020869
2016-03-29    0.022337
2016-03-30    0.024736
2016-03-31    0.023826
2016-04-01    0.022875
2016-04-02    0.024881
2016-04-03    0.025171
2016-04-04    0.024509
2016-04-05    0.124964
2016-04-06    0.221634
2016-04-07    0.132079
Name: last_seen, dtype: float64

Last seen is the date When the crawler saw this ad last online. It is the date when the ad removed because the car was sold. There's are more cars that has been sold the last three days

In [18]:
autos['registration_year'].describe()

count    48350.000000
mean      2004.718035
std         87.783995
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

There are something odd in registration_year as we can see the min year is 1000 and the max is 9999 witch is nonsense for the year and we need to deal with this. Also the car can't be registered after the listing was seen. Therefore any number 2016 is inaccurate


We need to remove any value for this column bigger than 2016 and lower than 1900.

With Boolean indexing we are going to keep rows with registration_year between 2016 and 1900.

In [19]:
autos = autos.loc[autos["registration_year"].between(1900,2016)]

In [20]:
autos['registration_year'].value_counts(normalize = True)

2000    0.067131
2005    0.062850
1999    0.062054
2004    0.058073
2003    0.057987
2006    0.057449
2001    0.056631
2002    0.053318
1998    0.050585
2007    0.048928
2008    0.047594
2009    0.044797
1997    0.041742
2011    0.034857
2010    0.034190
1996    0.029348
2012    0.028165
2016    0.025970
1995    0.025927
2013    0.017235
2014    0.014244
1994    0.013534
1993    0.009123
2015    0.008262
1992    0.007918
1991    0.007294
1990    0.007230
1989    0.003679
1988    0.002883
1985    0.002044
          ...
1966    0.000473
1976    0.000452
1969    0.000409
1975    0.000387
1965    0.000366
1964    0.000258
1963    0.000172
1961    0.000129
1959    0.000129
1962    0.000086
1956    0.000086
1937    0.000086
1958    0.000086
1955    0.000043
1954    0.000043
1957    0.000043
1951    0.000043
1910    0.000043
1934    0.000043
1941    0.000043
1927    0.000022
1929    0.000022
1950    0.000022
1931    0.000022
1948    0.000022
1938    0.000022
1939    0.000022
1953    0.000022
1943    0.000022
1952    0.000022
Name: registration_year, Length: 78, dtype: float64

Most of the cars registration date is about 20 years ago

## Finding common brands and their mileage

In this part we will find top brands and their distant traveled to see the relation

In [21]:
unique_brands = autos["brand"].unique()
print(unique_brands)

autos["brand"].value_counts(normalize = True)

['peugeot' 'bmw' 'volkswagen' 'smart' 'ford' 'chrysler' 'seat' 'renault'
 'mercedes_benz' 'audi' 'sonstige_autos' 'opel' 'mazda' 'porsche' 'mini'
 'toyota' 'dacia' 'nissan' 'jeep' 'saab' 'volvo' 'mitsubishi' 'jaguar'
 'fiat' 'skoda' 'subaru' 'kia' 'citroen' 'chevrolet' 'hyundai' 'honda'
 'daewoo' 'suzuki' 'trabant' 'land_rover' 'alfa_romeo' 'lada' 'rover'
 'daihatsu' 'lancia']

volkswagen        0.211356
bmw               0.109949
opel              0.107303
mercedes_benz     0.096501
audi              0.086604
ford              0.069993
renault           0.047186
peugeot           0.029908
fiat              0.025712
seat              0.018246
skoda             0.016417
nissan            0.015320
mazda             0.015255
smart             0.014179
citroen           0.014050
toyota            0.012759
hyundai           0.010048
sonstige_autos    0.009618
volvo             0.009101
mini              0.008779
mitsubishi        0.008176
honda             0.007854
kia               0.007100
alfa_romeo        0.006649
porsche           0.006046
suzuki            0.005939
chevrolet         0.005702
chrysler          0.003529
dacia             0.002647
daihatsu          0.002517
jeep              0.002281
subaru            0.002109
land_rover        0.002109
saab              0.001657
jaguar            0.001571
daewoo            0.001485
trabant           0.001377
rover             0.001334
lancia            0.001054
lada              0.000581
Name: brand, dtype: float64

As you cans see the first brand is Volkswagen with 21% then BMW with 10%. Actually top 5 brands are German which shows the domination by brands from this country. Also we choose top 10 brands to aggregate by.

In [22]:
top_10 = autos["brand"].value_counts(normalize = True)[:10].index

print(top_10)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat'],
      dtype='object')

In [23]:
brands_mean_price = {}

for brand in top_10:
    mean_price = autos.loc[autos["brand"] == brand, 'price_dollar'].mean()
    brands_mean_price[brand] = mean_price
    
print(brands_mean_price)

{'volkswagen': 5627.416675150158, 'bmw': 8376.805088062622, 'opel': 2996.0850210547424, 'mercedes_benz': 8663.059308807135, 'audi': 9373.771428571428, 'ford': 4068.368275438057, 'renault': 2483.889192886457, 'peugeot': 3100.6928057553955, 'fiat': 2818.456066945607, 'seat': 4423.116745283019}

As we can see the results the high mean price is or Audi brand and then Mercedes Benz then BMW.

We are going to fine mean mileage for top 10 brands as we did for mean price. The code will be like the mean price section

In [24]:
brands_mean_milage = {}

for brand in top_10:
    mean_price = autos.loc[autos["brand"] == brand, 'odometer_km'].mean()
    brands_mean_milage[brand] = mean_price
    
print(brands_mean_milage)

{'volkswagen': 128775.32322101192, 'bmw': 132651.66340508807, 'opel': 129440.54541808703, 'mercedes_benz': 130923.07692307692, 'audi': 129254.65838509316, 'ford': 124296.03442975714, 'renault': 128144.09484724123, 'peugeot': 127122.30215827338, 'fiat': 117066.94560669456, 'seat': 121303.06603773584}

In this part we are going to first convert both dictionaries into series object using series constructor then create data frame using first series by data frame constructor. Assign the other one to the data frame then print the data frame

In [25]:
bmp_series = pd.Series(brands_mean_price)
bmm_series = pd.Series(brands_mean_milage)
df = pd.DataFrame(bmp_series, columns=['mean_price'])

df["mean_milage"] = bmm_series

print(df)

                mean_price    mean_milage
volkswagen     5627.416675  128775.323221
bmw            8376.805088  132651.663405
opel           2996.085021  129440.545418
mercedes_benz  8663.059309  130923.076923
audi           9373.771429  129254.658385
ford           4068.368275  124296.034430
renault        2483.889193  128144.094847
peugeot        3100.692806  127122.302158
fiat           2818.456067  117066.945607
seat           4423.116745  121303.066038

Very slightly the expensive cars have been drove more. But it is not very distinguishable.

## Extra cleaning

To clean the data set more we start first with translating German words to English.
Then we will convert string dates to numerical ones 
### German words to English

If we look at the data carefully we can realize in some columns there are German words and we can see the by the code blow by showing unique values for each that columns.

In [26]:
print(autos['type_vehicle'].unique())
print(autos['gearbox'].unique())
print(autos['type_fuel'].unique())
print(autos['unrepaired_damage'].unique())

['bus' 'limousine' 'kleinwagen' 'kombi' nan 'coupe' 'suv' 'cabrio'
 'andere']
['manuell' 'automatik' nan]
['lpg' 'benzin' 'diesel' nan 'cng' 'hybrid' 'elektro' 'andere']
['nein' nan 'ja']

As we can see in above we shouel translate some words:

kleinwagen > small car

kombi > station wagon

andere > other

benzin > petrol

elektro > electrical

automatik > automatic

nein > no

ja > yes


in the code blow we replay the german words we their english counterparts

In [27]:
autos['type_vehicle'] = autos['type_vehicle'].str.replace("kleinwagen", "small car")
autos['type_vehicle'] = autos['type_vehicle'].str.replace("kombi", "station wagon")

autos['gearbox'] = autos['gearbox'].str.replace("automatik", "automatic")

autos['type_fuel'] = autos['type_fuel'].str.replace("benzin", "petrol")
autos['type_fuel'] = autos['type_fuel'].str.replace("elektro", "other")
autos['type_fuel'] = autos['type_fuel'].str.replace("andere", "other")

autos['unrepaired_damage'] = autos['unrepaired_damage'].str.replace("nein", "no")
autos['unrepaired_damage'] = autos['unrepaired_damage'].str.replace("ja", "yes")

autos['model'] = autos['model'].str.replace("andere", "other")

### String dates to numerical values

In this section we will convert dates to numerical values for example

2016-05-25 to 20160525 

We first replace the '-' with empty character then we will remove the time after that we will convert the type to integer 
We did this changes to columns date_crawled, ad_created  and last_seen  as in code blow

In [28]:
autos['date_crawled'] = autos['date_crawled'].str.replace("-", "")
autos['date_crawled'] = autos['date_crawled'].str[0:8].astype(int)

autos['ad_created'] = autos['ad_created'].str.replace("-", "")
autos['ad_created'] = autos['ad_created'].str[0:8].astype(int)

autos['last_seen'] = autos['last_seen'].str.replace("-", "")
autos['last_seen'] = autos['last_seen'].str[0:8].astype(int)

In [29]:
autos

,date_crawled,name,price_dollar,abtest,type_vehicle,registration_year,gearbox,ps_power,model,odometer_km,registration_month,type_fuel,brand,unrepaired_damage,ad_created,code_postal,last_seen
0,20160326,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,other,150000,3,lpg,peugeot,no,20160326,79588,20160406
1,20160404,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatic,286,7er,150000,6,petrol,bmw,no,20160404,71034,20160406
2,20160326,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,70000,7,petrol,volkswagen,no,20160326,35394,20160406
3,20160312,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,small car,2007,automatic,71,fortwo,70000,6,petrol,smart,no,20160312,33729,20160315
4,20160401,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,1350,test,station wagon,2003,manuell,0,focus,150000,7,petrol,ford,no,20160401,39218,20160401
5,20160321,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,7900,test,bus,2006,automatic,150,voyager,150000,4,diesel,chrysler,NaN,20160321,22962,20160406
6,20160320,VW_Golf_III_GT_Special_Electronic_Green_Metall...,300,test,limousine,1995,manuell,90,golf,150000,8,petrol,volkswagen,NaN,20160320,31535,20160323
7,20160316,Golf_IV_1.9_TDI_90PS,1990,control,limousine,1998,manuell,90,golf,150000,12,diesel,volkswagen,no,20160316,53474,20160407
8,20160322,Seat_Arosa,250,test,NaN,2000,manuell,0,arosa,150000,10,NaN,seat,no,20160322,7426,20160326
9,20160316,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,590,control,bus,1997,manuell,90,megane,150000,7,petrol,renault,no,20160316,15749,20160406
11,20160316,Mercedes_A140_Motorschaden,350,control,NaN,2000,NaN,0,NaN,150000,0,petrol,mercedes_benz,NaN,20160316,17498,20160316
12,20160331,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,5299,control,small car,2010,automatic,71,fortwo,50000,9,petrol,smart,no,20160331,34590,20160406
13,20160323,Audi_A3_1.6_tuning,1350,control,limousine,1999,manuell,101,a3,150000,11,petrol,audi,no,20160323,12043,20160401
14,20160323,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,3999,test,small car,2007,manuell,75,clio,150000,9,petrol,renault,NaN,20160323,81737,20160401
15,20160401,Corvette_C3_Coupe_T_Top_Crossfire_Injection,18900,test,coupe,1982,automatic,203,NaN,80000,6,petrol,sonstige_autos,no,20160401,61276,20160402
16,20160316,Opel_Vectra_B_Kombi,350,test,station wagon,1999,manuell,101,vectra,150000,5,petrol,opel,no,20160316,57299,20160318
17,20160329,Volkswagen_Scirocco_2_G60,5500,test,coupe,1990,manuell,205,scirocco,150000,6,petrol,volkswagen,no,20160329,74821,20160405
18,20160326,Verkaufen_mein_bmw_e36_320_i_touring,300,control,bus,1995,manuell,150,3er,150000,0,petrol,bmw,NaN,20160326,54329,20160402
19,20160317,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,4150,control,suv,2004,manuell,124,other,150000,2,lpg,mazda,no,20160317,40878,20160317
20,20160305,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,3500,test,station wagon,2003,manuell,131,a4,150000,5,diesel,audi,NaN,20160305,53913,20160307
21,20160306,Porsche_911_Carrera_4S_Cabrio,41500,test,cabrio,2004,manuell,320,911,150000,4,petrol,porsche,no,20160306,65428,20160405
22,20160328,MINI_Cooper_S_Cabrio,25450,control,cabrio,2015,manuell,184,cooper,10000,1,petrol,mini,no,20160328,44789,20160401
23,20160310,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,7999,control,bus,2010,manuell,120,NaN,150000,2,diesel,peugeot,no,20160310,30900,20160317
24,20160403,BMW_535i_xDrive_Sport_Aut.,48500,control,limousine,2014,automatic,306,5er,30000,12,petrol,bmw,no,20160403,22547,20160407
25,20160321,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,90,control,station wagon,1996,manuell,116,NaN,150000,4,petrol,ford,yes,20160321,27574,20160401
26,20160403,Volkswagen_Polo_Fox,777,control,small car,1992,manuell,54,polo,125000,2,petrol,volkswagen,no,20160403,38110,20160405
28,20160319,MINI_Cooper_D,5250,control,small car,2007,manuell,110,cooper,150000,7,diesel,mini,yes,20160319,15745,20160407
29,20160402,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,4999,test,station wagon,2004,automatic,204,e_klasse,150000,10,diesel,mercedes_benz,no,20160402,47638,20160402
30,20160314,Peugeot_206_Unfallfahrzeug,80,test,small car,2002,manuell,60,2_reihe,150000,6,petrol,peugeot,yes,20160314,57076,20160314
31,20160314,Noch_gut_erhaltenen_C_320,2850,test,station wagon,2002,automatic,218,c_klasse,150000,7,petrol,mercedes_benz,no,20160314,41065,20160316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49968,20160401,Mercedes_Benz_190_D_2.5_Automatik,2100,test,limousine,1986,automatic,90,other,150000,9,diesel,mercedes_benz,no,20160401,40227,20160405
49969,20160317,Nissan_X_Trail_2.2_dCi_4x4_Sport_m.AHZ,4500,control,suv,2005,manuell,136,x_trail,150000,5,diesel,nissan,no,20160317,17379,20160325
49970,20160321,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,15800,control,bus,2010,automatic,136,c4,60000,4,diesel,citroen,no,20160321,14947,20160407
49971,20160329,W.Lupo_1.0,950,test,small car,2001,manuell,50,lupo,150000,4,petrol,volkswagen,no,20160329,65197,20160329
49972,20160326,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,3300,control,bus,2004,automatic,150,vito,150000,10,diesel,mercedes_benz,yes,20160326,65326,20160328
49973,20160327,Mercedes_Benz_SLK_200_Kompressor,6000,control,cabrio,2004,manuell,163,slk,150000,11,petrol,mercedes_benz,no,20160327,53567,20160327
49975,20160327,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,9700,control,small car,2012,automatic,88,jazz,100000,11,hybrid,honda,no,20160327,84385,20160405
49976,20160319,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,5900,test,station wagon,1992,automatic,150,80,150000,12,petrol,audi,no,20160319,36100,20160407
49977,20160331,Mercedes_Benz_C200_Cdi_W203,5500,control,limousine,2003,manuell,116,c_klasse,150000,2,diesel,mercedes_benz,no,20160331,33739,20160406
49978,20160404,Mercedes_Benz_E_200_Classic,900,control,limousine,1996,automatic,136,e_klasse,150000,9,petrol,mercedes_benz,yes,20160404,24405,20160406
49979,20160320,Volkswagen_Polo_1.6_TDI_Style,11000,test,small car,2011,manuell,90,polo,70000,11,diesel,volkswagen,no,20160320,48455,20160407
49980,20160312,Ford_Escort_Turnier_16V,400,control,station wagon,1995,manuell,105,escort,125000,3,petrol,ford,NaN,20160312,56218,20160406
49981,20160315,Opel_Astra_Kombi_mit_Anhaengerkupplung,2000,control,station wagon,1998,manuell,115,astra,150000,12,petrol,opel,no,20160315,86859,20160405
49982,20160329,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,1950,control,small car,2004,manuell,0,fabia,90000,7,petrol,skoda,NaN,20160329,45884,20160329
49983,20160306,Ford_focus_99,600,test,small car,1999,manuell,101,focus,150000,4,petrol,ford,NaN,20160306,52477,20160309
49985,20160402,Verkaufe_meinen_vw_vento!,1000,control,NaN,1995,automatic,0,NaN,150000,0,petrol,volkswagen,NaN,20160402,30900,20160406
49986,20160404,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,15900,control,limousine,2010,automatic,218,300c,125000,11,diesel,chrysler,no,20160404,73527,20160406
49987,20160322,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,21990,control,limousine,2013,manuell,150,a3,50000,11,diesel,audi,no,20160322,94362,20160326
49988,20160328,BMW_330_Ci,9550,control,coupe,2001,manuell,231,3er,150000,10,petrol,bmw,no,20160328,83646,20160407
49989,20160311,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,150,test,small car,1997,manuell,0,polo,150000,5,petrol,volkswagen,yes,20160311,21244,20160312
49990,20160321,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,17500,test,limousine,2012,manuell,156,a_klasse,30000,12,petrol,mercedes_benz,no,20160321,58239,20160406
49991,20160306,Kleinwagen,500,control,NaN,2016,manuell,0,twingo,150000,0,petrol,renault,NaN,20160306,61350,20160306
49992,20160310,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,4800,control,small car,2009,manuell,120,other,125000,9,lpg,fiat,no,20160310,68642,20160313
49993,20160315,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,1650,control,small car,1997,manuell,0,NaN,150000,7,petrol,audi,NaN,20160315,65203,20160406
49994,20160322,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,5000,control,station wagon,2001,automatic,299,a6,150000,1,petrol,audi,no,20160322,46537,20160406
49995,20160327,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,24900,control,limousine,2011,automatic,239,q5,100000,1,diesel,audi,no,20160327,82131,20160401
49996,20160328,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,1980,control,cabrio,1996,manuell,75,astra,150000,5,petrol,opel,no,20160328,44807,20160402
49997,20160402,Fiat_500_C_1.2_Dualogic_Lounge,13200,test,cabrio,2014,automatic,69,500,5000,11,petrol,fiat,no,20160402,73430,20160404
49998,20160308,Audi_A3_2.0_TDI_Sportback_Ambition,22900,control,station wagon,2013,manuell,150,a3,40000,11,diesel,audi,no,20160308,35683,20160405
49999,20160314,Opel_Vectra_1.6_16V,1250,control,limousine,1996,manuell,101,vectra,150000,1,petrol,opel,no,20160313,45897,20160406

## finding most common brand/model combination 

In this step we first define empty dictionary
Then fin top 10 model
After that we find corresponding model brand and the model's frequency

For dictionary key we use brand + space + model name and for the value the size of brand_model sries witch is the number of that model. Then for better view we construct a data frame from brand_model_top.

Note that we remove the 'other' model from top models

In [89]:
brand_model_top = {}


Top_10_model = autos["model"].value_counts(ascending = False)[:10]

#dropping other lable
Top_10_model = Top_10_model.drop(labels="other")

for m in Top_10_model.index:
    brand_model = autos.loc[autos["model"] == m, 'brand']
    brand = brand_model.iloc[0]
    brand_model_top[brand + ' ' + m] = brand_model.size
    



brand_model_series = pd.Series(brand_model_top)

df2 = pd.DataFrame(brand_model_series, columns=['counts'])
df2

As we can see the most common brand model is Volkswagen golf then BMW 3er and etc.

## Conclusion 

We first cleaned the data then we investigated the brand prices and concludes that Audi brand and then Mercedes Benz then BMW are the most expensive ones. Also there was a slight relation between the cars price and odometer that expensive cars have more mileage. Also we sow the most common brand models are Volkswagen golf then BMW 3er and etc.